:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #cfcfff;
  --secondary-color: #f00;
  --background-color: #f6f6f6;
  --text-color: #333;
  --error-color: #f00;
  --border-radius: 5px;
  --font-family-primary: 'Poppins', sans-serif;
  --font-family-title: 'Jomhuria', cursive;
}

* {
  margin: 0;
  padding: 0;
}
